<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>

<button btn>Hello</button>

<div>
    <div class="i-ph-anchor-simple-thin" />
</div>

