<script>

  export let user;
  export let error;


</script>

{#if error}
  <p>{error}</p>
{/if}

{#if user}
  <p>email is: {user.email}</p>
{/if}

<div>
  <form method="post">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email"/>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" />
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</div>

<style>
</style>
