<script>
     import {session } from '$app/stores';
 
  </script>
  
{#if $session.user}
  <div>
    Logged in as {$session.user.email} 
    <a href="/test/test">test</a>
    <a href="/user/logout">Logout</a>
  </div>
{:else}
  <div >
      <a href="/user/register">Register</a>
      <a href="/user/login">Login</a>
  </div>
  {/if}
  <style>
  </style>